# VSCODE
.vscode
./vscode
./vscode/**

# NODE MODULES
node_modules
./node_modules
./node_modules/**

# JEST
coverage
./coverage
./coverage/**

# BUILD
build
./build
./build/**

# ENV
.env

# YARN
yarn-error.log

# DOCKER
.docker/pg_data
.docker/pg_data/**
